<!DOCTYPE html>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="./css/login.css" />
	<title>WeChat log in</title>

</head>

<body>

	<section class="section">

		<!-- These elements are displayed as white info cards in the middle of the screen -->

		<div class="connected">

			<img src="./img/unnamed.jpg" id="creatorImage" />

			<div class="infoConnected">
				<h2>Who are you?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Your nick name" /><br/>
					<input type="text" id="yourPwd" placeholder="Your password" /><br/>
					<input type="submit" id="yourEnter" value="ENTER" />
				</form>

			</div>

		</div>

	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>
	<script>
	  var socket = io();                    //connect to the socket in order to talk to server

	 //trigger some event on index.js that could let it get the informaiton and render it another page
	</script>
</body>

</html>
